.container {
  height: 100svh;
  touch-action: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 320px;
    background: radial-gradient(ellipse at bottom, black, transparent 50%);
    opacity: 0.75;
  }
}

.play {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  background: black;
  padding: 0.75rem;
  border: none;
  border-radius: 100vmax;
  cursor: pointer;
  color: white;
  z-index: 2;

  @media (width > 640px) {
    bottom: 3rem;
    right: 3rem;
    padding: 0.875rem;
  }

  &:not(:focus-visible) {
    outline: 1px solid rgb(255 255 255 / 0.25);
  }

  svg {
    vertical-align: bottom;
  }
}
