---
import Layout from "@/layouts/Layout.astro";
import AndyLogo from "@/components/svg/andy-logo.svg";
import Linkedin from "@/components/svg/linkedin.svg";
import Bluesky from "@/components/svg/bluesky.svg";
import Codepen from "@/components/svg/codepen.svg";
import Github from "@/components/svg/github.svg";
import PlusExpressive from "@/components/svg/plus-expressive.svg";
import HomeCanvas from "@/components/HomeCanvas";
---

<Layout>
  <section>
    <div>
      <HomeCanvas client:load />
    </div>
    <div class="content">
      <header>
        <span class="logo">
          <AndyLogo class="logomark" width="36" height="36" />
          <h2>Andy Stewart</h2>
        </span>
        <div class="links">
          <a
            href="https://github.com/andy-stewart-design"
            target="_blank"
            aria-label="Github"
          >
            <Github width="20" height="20" />
          </a>
          <a
            href="https://codepen.io/andystewartdesign"
            target="_blank"
            aria-label="Codepen"
          >
            <Codepen width="20" height="20" />
          </a>
          <a
            href="https://bsky.app/profile/andystew.art"
            target="_blank"
            aria-label="Bluesky"
          >
            <Bluesky width="20" height="20" />
          </a>
          <a
            href="https://linkedin.com/in/andystewartdesign/"
            target="_blank"
            aria-label="LinkedIn"
          >
            <Linkedin width="20" height="20" />
          </a>
        </div>
      </header>
      <h1 class="headline" aria-label="Design and code">
        <span aria-hidden="true">
          Design<span class="no-wrap"
            ><PlusExpressive width="0.575em" height="0.575em" />Code</span
          >
        </span>
      </h1>
      <p>
        I help bring clarity and life to digital experiences and interfaces. I
        currently work as a <a href="https://playbook.ebay.com/" target="_blank"
          >Staff Design Engineer at ebay</a
        > and live in Brooklyn, NY.
      </p>
    </div>
  </section>
</Layout>

<style>
  section {
    display: grid;
    height: 100svh;

    & > * {
      grid-area: 1/1;
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem 0.75rem 1.25rem;
    background: rgb(100 100 100 / 0.05);
    border-radius: 0.5rem;
    outline: 1px solid rgb(255 255 255 / 0.15);
    backdrop-filter: blur(4px);
    width: 100%;
    max-width: 480px;

    .logo {
      display: flex;
      gap: 0.75rem;
      align-items: center;

      .logomark {
        color: oklch(0.7 0.24 25.4);
      }

      h2 {
        line-height: 0.96;
        margin: 0;
        text-align: left;
        font-size: 1rem;
        font-weight: 600;
        user-select: none;
        width: 8ch;

        @media (width > 480px) {
          font-size: 1.125rem;
          width: auto;
        }
      }
    }

    .links {
      display: flex;
      align-items: center;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.375rem;
      height: 2.75rem;
      text-decoration: none;
      color: oklch(0.7 0.24 25.4);

      &:visited {
        color: oklch(0.7 0.24 25.4);
      }
    }

    svg {
      vertical-align: bottom;
    }
  }

  .content {
    padding: 2rem;
    padding-bottom: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-shadow: 0px 0px 40px rgb(0 0 0 / 1);

    @media (width > 480px) {
      padding-bottom: 2rem;
    }

    h1 {
      margin: 0;
      max-width: 40ch;
      line-height: 1;
      font-size: 4.5rem;
      font-weight: 900;
      margin: 0;
      margin-block-end: 0.5rem;

      @media (width > 480px) {
        font-size: 6rem;
      }

      span.no-wrap {
        white-space: nowrap;
      }

      svg {
        color: oklch(0.7 0.24 25.4);
        margin-inline: 0.125em;
      }
    }

    p {
      max-width: 40ch;
      text-wrap: balance;
      line-height: 1.5;
      font-weight: 500;

      a {
        color: inherit;
        text-decoration-color: oklch(0.7 0.24 25.4);
        text-underline-offset: 1.5px;

        &:visited {
          color: inherit;
        }
      }
    }
  }
</style>
